* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("./paisagem-natural.jpg");
    background-size: cover;
    background-position: center;
}

.caixa-maior {
    background-color: #000000;
    width: 95%; 
    max-width: 420px; 
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 60px);
}

button {
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #7c7c7c6b;
}

.caixa-media {
    margin-top: 30px;
}

.caixa-info {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.lupa {
    height: 20px;
}

h2 {
    color: white;
    font-size: 28px;
}

.temp {
    color: #ffffff;
    margin-top: 20px;
    font-size: 45px;
    font-weight: 300;
}

.descricao {
    color: #ffffff;
    margin-left: 10px;
    text-transform: capitalize;
}

.umidade {
    color: #ffffff;
    margin-top: 15px;
}

.icone {
    width: 50px;
}